<div id="page-content" style="">

    <div class="wrapper wrapper-content dashboard" id="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <ul class="main-title-shops-list">
                        <li class="main-title-shops-list-item"><img src="/client/img/price-wb.svg" alt=""></li>
                        <li class="main-title-shops-list-item"><img src="/client/img/price-ozon.svg" alt=""></li>
                        <li class="main-title-shops-list-item"><img src="/client/img/price-aliexpress.svg" alt=""></li>
                    </ul>
                    <h2 class="main-title-value">Анализируйте конкурентов и находите прибыльные ниши на всех маркетплейсах</h2>
                    <img class="main-title-img" src="img/main-title-img.png" alt="">
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12">
                <div class="main-leader-tabs">
                    <h3 class="main-leader-title">Лидеры по количеству продаж за 7 дней</h3>
                    <ul class="main-leader-tabs-nav">
                        <li class="main-leader-tabs-nav-item active">Товары</li>
                        <li class="main-leader-tabs-nav-item">Категории</li>
                        <li class="main-leader-tabs-nav-item">Продавцы</li>
                    </ul>
                    <div class="main-leader-tabs-content active" id="product">
    
                    
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://images.wbstatic.net/c246x328/new/21400000/21402378-1.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=28106983" class="product-item-name">Finish All in1 Max Таблетки для посудомоечной машины ,100шт</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">1,198 руб.</div>
                             <div class="product-item-cost-old">2,995 руб.</div>
                             <div class="product-item-cost-discount">(-60%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=107888">ТАЙДИ-ЦЕНТР ООО (1103668042136)</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=11379">Для посудомоечных машин</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/wildberries.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            8,832,854 р.
                                        </div>
                                        <span class="sparkline28106983"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">7373 шт</div>
                                        <span class="sparkline28106983"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">2388 отзывов</div>
                                        <div class="product-item-reviews-rating">5 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://cdn1.ozone.ru/s3/multimedia-a/6007675786.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=2791552" class="product-item-name">Робот-пылесос  Roborock  S5 MAX, белый</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">34,990 руб.</div>
                             <div class="product-item-cost-old">44,900 руб.</div>
                             <div class="product-item-cost-discount">(-22%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=1133">ООО Ламобайл (142715)</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=2814">Роботы-пылесосы</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ozon.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            4,700,938 р.
                                        </div>
                                        <span class="sparkline2791552"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">217 шт</div>
                                        <span class="sparkline2791552"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">3490 отзывов</div>
                                        <div class="product-item-reviews-rating">5 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://ae01.alicdn.com/kf/Uae0c049eec93415a8caac1e36bc426a7x/Smartphone-Apple-iPhone-12-128GB.jpg_220x220xz.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=31699903" class="product-item-name">Смартфон Apple iPhone 12 128ГБ [ официальная российская гарантия | быстрая доставка из Москвы ]</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">62,991 руб.</div>
                             <div class="product-item-cost-old">69,990 руб.</div>
                             <div class="product-item-cost-discount">(-10%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=45744">Официальный магазин Tmall - Техника</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=13224">Смартфоны</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ali.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            37,101,699 р.
                                        </div>
                                        <span class="sparkline31699903"><canvas width="24" height="50" style="display: inline-block; width: 24px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">589 шт</div>
                                        <span class="sparkline31699903"><canvas width="24" height="50" style="display: inline-block; width: 24px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">0 отзывов</div>
                                        <div class="product-item-reviews-rating">4.6 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-leader-tabs-content" id="category">
    
                    
    
                    <div class="product-item product-item-category">
                        <div class="product-item-left">
                            <div class="product-item-info">
                                <div class="product-item-category-title">Категория: <a href="/client/category?id=3195">Женщинам</a></div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего продавцов:</div>
                                    <div class="product-item-info-item-value">39,538</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего товаров:</div>
                                    <div class="product-item-info-item-value">2,022,925</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего брендов:</div>
                                    <div class="product-item-info-item-value">57,443</div>
                                </div>
                            </div>
                            <img class="product-item-shop" src="/client/img/wildberries.svg" alt="">
                        </div>
                        <div class="product-item-tabs">
                            <ul class="product-item-tabs-nav">
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                            </ul>
                            <div class="product-item-tabs-content active">
                                <div class="product-item-revenue">
                                    <div class="product-item-revenue-value">6,557,088,643 р.</div>
                                    <span class="sparkline3195"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-sales">
                                    <div class="product-item-sales-value">4,024,614 шт</div>
                                    <span class="sparkline3195"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-check">
                                    <div class="product-item-check-value">1,629.2 р.</div>
                                    <span class="sparkline3195"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="product-item product-item-category">
                        <div class="product-item-left">
                            <div class="product-item-info">
                                <div class="product-item-category-title">Категория: <a href="/client/category?id=1">Электроника</a></div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего продавцов:</div>
                                    <div class="product-item-info-item-value">9,868</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего товаров:</div>
                                    <div class="product-item-info-item-value">140,514</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего брендов:</div>
                                    <div class="product-item-info-item-value">6,904</div>
                                </div>
                            </div>
                            <img class="product-item-shop" src="/client/img/ozon.svg" alt="">
                        </div>
                        <div class="product-item-tabs">
                            <ul class="product-item-tabs-nav">
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                            </ul>
                            <div class="product-item-tabs-content active">
                                <div class="product-item-revenue">
                                    <div class="product-item-revenue-value">941,885,104 р.</div>
                                    <span class="sparkline1"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-sales">
                                    <div class="product-item-sales-value">610,766 шт</div>
                                    <span class="sparkline1"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-check">
                                    <div class="product-item-check-value">1,542.1 р.</div>
                                    <span class="sparkline1"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
    
                    <div class="product-item product-item-category">
                        <div class="product-item-left">
                            <div class="product-item-info">
                                <div class="product-item-category-title">Категория: <a href="/client/category?id=14136">Электроника</a></div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего продавцов:</div>
                                    <div class="product-item-info-item-value">2,150</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего товаров:</div>
                                    <div class="product-item-info-item-value">38,002</div>
                                </div>
                                <div class="product-item-info-item">
                                    <div class="product-item-info-item-title">Всего брендов:</div>
                                    <div class="product-item-info-item-value">1</div>
                                </div>
                            </div>
                            <img class="product-item-shop" src="/client/img/ali.svg" alt="">
                        </div>
                        <div class="product-item-tabs">
                            <ul class="product-item-tabs-nav">
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                            </ul>
                            <div class="product-item-tabs-content active">
                                <div class="product-item-revenue">
                                    <div class="product-item-revenue-value">252,910,489 р.</div>
                                    <span class="sparkline14136"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-sales">
                                    <div class="product-item-sales-value">84,979 шт</div>
                                    <span class="sparkline14136"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                            <div class="product-item-tabs-content">
                                <div class="product-item-check">
                                    <div class="product-item-check-value">2,976.1 р.</div>
                                    <span class="sparkline14136"><canvas width="34" height="60" style="display: inline-block; width: 34px; height: 60px; vertical-align: top;"></canvas></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="main-leader-tabs-content" id="seller">
    
                    
                        
                        <div class="product-item product-item-sellers">
                            <div class="product-item-left">
                                <div class="product-item-info">
                                    <a href="#" class="product-item-name"></a><a href="/client/seller?id=22420">unknown</a>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего товаров:</div>
                                        <div class="product-item-info-item-value">750,136</div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего брендов:</div>
                                        <div class="product-item-info-item-value">83,297</div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/wildberries.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">1,503,391,168 р.</div>
                                        <span class="sparkline22420"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">1,598,004 шт</div>
                                        <span class="sparkline22420"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-check">
                                        <div class="product-item-check-value">940.7 р.</div>
                                        <span class="sparkline22420"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
                        <div class="product-item product-item-sellers">
                            <div class="product-item-left">
                                <div class="product-item-info">
                                    <a href="#" class="product-item-name"></a><a href="/client/seller?id=121978">ООО Торговый Дом Эксмо (119017)</a>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего товаров:</div>
                                        <div class="product-item-info-item-value">6,574</div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего брендов:</div>
                                        <div class="product-item-info-item-value">5</div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ozon.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">31,359,900 р.</div>
                                        <span class="sparkline121978"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">65,753 шт</div>
                                        <span class="sparkline121978"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-check">
                                        <div class="product-item-check-value">476.9 р.</div>
                                        <span class="sparkline121978"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        
                        <div class="product-item product-item-sellers">
                            <div class="product-item-left">
                                <div class="product-item-info">
                                    <a href="#" class="product-item-name"></a><a href="/client/seller?id=45744">Официальный магазин Tmall - Техника</a>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего товаров:</div>
                                        <div class="product-item-info-item-value">932</div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Всего брендов:</div>
                                        <div class="product-item-info-item-value">1</div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ali.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Ср. чек</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">120,817,186 р.</div>
                                        <span class="sparkline45744"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">9,899 шт</div>
                                        <span class="sparkline45744"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-check">
                                        <div class="product-item-check-value">12,204.9 р.</div>
                                        <span class="sparkline45744"><canvas width="34" height="40" style="display: inline-block; width: 34px; height: 40px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-12">
                <div class="main-new">
                    <h3 class="main-new-title">Новинки за 7 дней</h3>
                    <div id="product-new">
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://images.wbstatic.net/c246x328/new/44380000/44383189-1.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=509100156" class="product-item-name">Мешочки подарочные</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">130 руб.</div>
                             <div class="product-item-cost-old">400 руб.</div>
                             <div class="product-item-cost-discount">(-67%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=148266">ИП Бальде Эдуард Альбертович (321420500021239)</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=63070">Мешочки подарочные</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/wildberries.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            0 р.
                                        </div>
                                        <span class="sparkline509100156"><canvas width="29" height="50" style="display: inline-block; width: 29px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">0 шт</div>
                                        <span class="sparkline509100156"><canvas width="29" height="50" style="display: inline-block; width: 29px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">1 отзывов</div>
                                        <div class="product-item-reviews-rating">5 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://cdn1.ozone.ru/s3/multimedia-k/6222997592.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=512348997" class="product-item-name">Земля Королей. Червовый том | Нечитайло Фёдор Константинович</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">1,290 руб.</div>
                             <div class="product-item-cost-old">1,500 руб.</div>
                             <div class="product-item-cost-discount">(-14%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=393853">ИП Крашенинников Артем Михайлович (321665800171140)</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=1323">Комиксы</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ozon.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            1,011,360 р.
                                        </div>
                                        <span class="sparkline512348997"><canvas width="29" height="50" style="display: inline-block; width: 29px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">784 шт</div>
                                        <span class="sparkline512348997"><canvas width="29" height="50" style="display: inline-block; width: 29px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">8 отзывов</div>
                                        <div class="product-item-reviews-rating">5 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="product-item">
                            <div class="product-item-left">
                                <div class="product-item-img">
                                    <img src="https://ae04.alicdn.com/kf/Hd219b5ba46644b3b8eecec87cfcba9d5G/Tuya-Smart-Wifi-Switch-Yandex-Alice-Smart-Home-Wireless-Switch-Alexa-Google-Home-16A-Timer-Voice.jpg_220x220xz.jpg">
                                </div>
                                <div class="product-item-info">
                                    <a href="/client/product?id=468170740" class="product-item-name">Умный Wi-Fi переключатель Tuya Яндекс-Алиса, умный дом, беспроводной переключатель Alexa Google...</a>
                                    <div class="product-item-cost-wrapper">
                                        <div class="product-item-cost">403 руб.</div>
                             <div class="product-item-cost-old">576 руб.</div>
                             <div class="product-item-cost-discount">(-30%)</div>
                        
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Продавец:</div>
                                        <div class="product-item-info-item-value"><a href="/client/seller?id=393284">Tuya Intelligent Store</a></div>
                                    </div>
                                    <div class="product-item-info-item">
                                        <div class="product-item-info-item-title">Категория:</div>
                                        <div class="product-item-info-item-value"><a class="category-link" href="/client/category?id=14236">Модули для умного дома</a></div>
                                    </div>
                                </div>
                                <img class="product-item-shop" src="/client/img/ali.svg" alt="">
                            </div>
                            <div class="product-item-tabs">
                                <ul class="product-item-tabs-nav">
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-1 active">Выручка</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-2">Продажи</li>
                                    <li class="product-item-tabs-nav-item product-item-tabs-nav-item-3">Отзывы</li>
                                </ul>
                                <div class="product-item-tabs-content active">
                                    <div class="product-item-revenue">
                                        <div class="product-item-revenue-value">
                                            70,594 р.
                                        </div>
                                        <span class="sparkline468170740"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-sales">
                                        <div class="product-item-sales-value">200 шт</div>
                                        <span class="sparkline468170740"><canvas width="34" height="50" style="display: inline-block; width: 34px; height: 50px; vertical-align: top;"></canvas></span>
                                    </div>
                                </div>
                                <div class="product-item-tabs-content">
                                    <div class="product-item-reviews">
                                        <div class="product-item-reviews-value">0 отзывов</div>
                                        <div class="product-item-reviews-rating">4.9 </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <style>
        .modal-dialog {
            max-width: 630px!important;
            width: auto;
        }
    </style>
    
    <link rel="stylesheet" href="/client/css/main.css">
    <script src="/client/js/pages/dashboard.js?id=10"></script>
    </div>