<div id="page-content" style=""><div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>Бонусы</h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="/client/dashboard">Главная</a>
        </li>
        <li class="breadcrumb-item active">
          <strong>Бонусы</strong>
        </li>
      </ol>
    </div>
    <div class="col-lg-2">
  
    </div>
  </div>
  
  <div class="wrapper wrapper-content" id="content">
  
    <div class="bonus-block ibox-content" id="phone-bonus" style="display: none;">
      <div class="row">
        <h2>Подтвердите телефон и получите +1 день премиум доступа в подарок!</h2>
        <h2 style="display: none;">Бонус +1 день премиум доступа получен!</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Телефон" id="phone" name="phone" required="">
          </div>
          <div class="col">
            <a class="btn btn-primary btn-block disabled" href="#">Выслать код</a>
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Код" id="code" name="code" style="visibility: hidden;">
          </div>
          <div class="col">
            <a class="btn btn-primary btn-block disabled" href="#" style="visibility: hidden;">Подтвердить</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  
    <div class="bonus-block ibox-content" id="question-bonus" style="display: none;">
      <div class="row">
        <h2>Ответьте на 3 вопроса о вашем бизнесе и получите +1 день премиум доступа в подарок!</h2>
        <h2 style="display: none;">Бонус +2 дня премиум доступа получен!</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col question">
            <h3>Работаете ли вы уже на маркетплейсах?</h3>
            <div>
              <input type="radio" id="q01" name="q0" value="yes">
              <label for="q01">Да</label>
            </div>
            <div>
              <input type="radio" id="q02" name="q0" value="no">
              <label for="q02">Нет</label>
            </div>
            <div>
              <input type="radio" id="q03" name="q0" value="plan">
              <label for="q03">Планирую</label>
            </div>
          </div>
          <div class="col question" style="visibility: hidden;">
            <h3>Сколько у вас SKU в работе? <br>&nbsp;</h3>
            <div>
              <input type="radio" id="q11" name="q1" value="1-50">
              <label for="q11">1-50</label>
            </div>
            <div>
              <input type="radio" id="q12" name="q1" value="50-200">
              <label for="q12">50-200</label>
            </div>
            <div>
              <input type="radio" id="q13" name="q1" value="more-200">
              <label for="q13">более 200</label>
            </div>
          </div>
          <div class="col question" style="visibility: hidden;">
            <h3>Какую основную цель Вы хотите решить используя сервис?</h3>
            <div>
              <input type="radio" id="q21" name="q2" value="r1">
              <label for="q21">Поиск новых товаров</label>
            </div>
            <div>
              <input type="radio" id="q22" name="q2" value="r2">
              <label for="q22">Анализ продаж своего магазина</label>
            </div>
            <div>
              <input type="radio" id="q23" name="q2" value="r3">
              <label for="q23">Анализ конкурентов</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a class="btn btn-primary btn-block disabled" data-index="0" href="#">Далее</a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-block disabled" data-index="1" href="#" style="visibility: hidden;">Далее</a>
          </div>
          <div class="col">
            <a class="btn btn-primary btn-block disabled" data-index="2" href="#" style="visibility: hidden;">Далее</a>
          </div>
        </div>
      </div>
      <br>
    </div>
  
    <div class="bonus-block ibox-content" id="get-extra-days">
      <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
      </div>
      <div class="row">
        <h2>Просмотренные видео</h2>
        <h2 style="display: none;">Обучающие видео</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="extra-video active" data-days="1" data-lesson="40129654" data-step="0" data-video-id="lw9KLm1C0mU">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 1</p>
              <span>Обратный поиск товаров</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
          <div class="col">
            <div class="extra-video active" data-days="1" data-lesson="40129657" data-step="1" data-video-id="pIPzI2KxCcA">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 2</p>
              <span>Анализ ниш на маркетплейсах</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
          <div class="col">
            <div class="extra-video active" data-days="1" data-lesson="40129669" data-step="2" data-video-id="gz8dw0Sfx3s">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 3</p>
              <span>Выявление хайповых товаров на маркетплейсах</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
          <div class="col">
            <div class="extra-video active" data-days="1" data-lesson="40129672" data-step="3" data-video-id="hjpdOSwQ0es">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 4</p>
              <span>Аналитика категорий на маркетплейсах</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="extra-video active" data-days="1" data-lesson="40129675" data-step="4" data-video-id="9a9F3tqpJoo">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 5</p>
              <span>Конкурентный анализ</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="extra-video active" data-days="1" data-lesson="40193338" data-step="5" data-video-id="ZRc2Bwwwl18">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 6</p>
              <span>API кабинет и аналитика собственного магазина</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="extra-video active" data-days="5" data-lesson="40193338" data-step="6" data-video-id="hX3q3w_B9yQ">
              <img src="/client/img/extra-days-preview.png" alt="">
              <p>Урок 7</p>
              <span>Ключевые запросы - поиск ниш и SEO оптимизация карточки</span>
              
              <div class="extra-video-play active"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <script src="/client/js/pages/bonus.js?id=7"></script>
  <script src="/js/libs/inputmask/inputmask.js"></script>
  <script src="/js/libs/inputmask/phones.js?id=3"></script>
  </div>